/* ------------------------ */
/* nmx framework */
.nmx {}

.nmx *,
.nmx *:after,
.nmx *:before {
    box-sizing: border-box;
}

    /* ------------------------ */
    /* utilities */

        /* push */
        .nmx-pull-left { float: left !important }
        .nmx-pull-right { float: right !important }

        /* clean borders */
        .nmx-b0 { border: 0 !important; }

        /* clean margins */
        .nmx-m0  { margin: 0 !important; }
        .nmx-mb0 { margin-bottom: 0 !important; }
        .nmx-mt0 { margin-top: 0 !important; }
        .nmx-ml0 { margin-left: 0 !important; }
        .nmx-mr0 { margin-right: 0 !important; }

        /* clean paddings */
        .nmx-p0  { padding: 0 !important; }
        .nmx-pb0 { padding-bottom: 0 !important; }
        .nmx-pt0 { padding-top: 0 !important; }
        .nmx-pl0 { padding-left: 0 !important; }
        .nmx-pr0 { padding-right: 0 !important; }

        /* text alignments */
        .nmx-tac { text-align: center !important; }
        .nmx-tar { text-align: right !important; }

        /* height */
        .nmx-ha { height: auto !important }

        /* hidden */
        .nmx-hidden,
        .hiddenField { display: none !important; }

        /* clearfix */
        .nmx-cf:before,
        .nmx-cf:after {
            content: " "; /* 1 */
            display: table; /* 2 */
        }

        .nmx-cf:after {
            clear: both;
        }

        /* wrapper */
        .nmx-wrapper {
            max-width: 978px;
            margin: 0 auto;
        }

        @media screen and (max-width: 1008px) {
            .nmx-wrapper {
                margin-left: 15px;
                margin-right: 15px;
                width: auto;
            }
        }

        @media screen and (min-width: 1400px) {
            .nmx-wrapper {
                max-width: 1232px
            }
        }

    /* typography */
    .nmx strong {
        font-weight: bold;
    }

    /* ------------------------ */
    /* grid */
    /* info: 
        - based on boostrap 12 columns grid
        - 30px gutter
    */
    .nmx-row {
        margin: 0 -12px;
    }

    .nmx-row + .nmx-row {
        margin-top: 18px;
    }

        /* grid columns */
        .nmx-row [class*="nmx-col"] {
            float: left;
            padding: 0 12px;
            margin-left: 0;
            margin-right: 0;
            position: relative;
        }

        .nmx-col-1 { width: 8.33333333% }
        .nmx-col-2 { width: 16.66666667% }
        .nmx-col-3 { width: 25% }
        .nmx-col-4 { width: 33.33333333% }
        .nmx-col-5 { width: 41.66666667% }
        .nmx-col-6 { width: 50% }
        .nmx-col-7 { width: 58.33333333% }
        .nmx-col-8 { width: 66.66666667% }
        .nmx-col-9 { width: 75% }
        .nmx-col-10 { width: 83.33333333% }
        .nmx-col-11 { width: 91.66666667%  }
        .nmx-col-12 { width: 100% }
    
    /* ------------------------ */
    /* form */
    .nmx-form,
    .nmx form {
        display: block;
        margin: 0;
        padding: 0;
    }

        [class*="nmx-form-group"] {
            overflow: hidden;
            white-space: normal;
        }
        
        .nmx-row + [class*="nmx-form-group"],
        [class*="nmx-form-group"] + [class*="nmx-form-group"] {
            margin-top: 18px;
        }

        .nmx label {
            display: block;
            float: none;
            line-height: 100%;
            padding: 0;
            max-width: 100%;
            margin-bottom: 6px;
            width: auto;
            text-transform: lowercase;
        }

        .nmx label::first-letter {
            text-transform: uppercase;
        }

        .nmx .checkboxLabel {
            display: inline-block;
            margin-left: 5px;
        }

        .nmx input,
        .nmx select,
        .nmx textarea,
        .nmx .nmx-form-control {
            background: #fff;
            border: 1px solid rgba(0, 0, 0, 0.3);
            display: block;
            height: 33px;
            font-family: inherit;
            overflow: hidden;
            margin: 0;
            padding: 6px 12px;
            width: 100% !important;
        }

        .nmx-col-12 input,
        .nmx-col-12 select,
        .nmx-col-12 textarea,
        .nmx-col-12 .nmx-form-control {
            max-width: none !important;
        }

        .nmx input,
        .nmx select {
            max-width: 254px;
        }

            @media only screen and (max-width: 415px) {
                .nmx input,
                .nmx select {
                    max-width: none;
                }
            }

        .nmx input[type="radio"],
        .nmx input[type="checkbox"] {
            display: inline-block;
            height: auto;
            width: auto;
            padding: 0;
        }

        .nmx textarea {
            height: 100px;
            max-width: none;
        }
        
        .nmx-radio label,
        .nmx-checkbox label {
            display: inline-block;
            margin-bottom: 0;
            padding-left: 0;
            line-height: 1.3;
            position: relative;
            text-transform: none;
        }

            .nmx-radio input[type="radio"],
            .nmx-checkbox input[type="checkbox"] {
                position: 0;
                left: 0;
                top: 2px;
                width: auto !important
            }

            /* paypal image and text */
            .nmx-radio label img,
            .nmx-checkbox label img {
                height: auto;
                max-width: 290px;
                vertical-align: middle;
            }
            
            .nmx-radio img + span,
            .nmx-checkbox img + span {
                display: none;
            }
        
        .nmx-radio-inline {
            overflow: hidden;
        }

            .nmx-radio-inline .nmx-radio {
                display: inline-block;
            }

            .nmx-radio-inline .nmx-radio + .nmx-radio {
                margin-left: 10px;
                margin-top: 0;
            }
 
        .nmx option {
            font-family: inherit;
            font-size: inherit;
        }

        /* form inline */
        .nmx-form-group--inline {
            height: auto;
        }

            .nmx-form-group--inline label {
                float: none;
                position: static;
                top: 0;
                height: auto;
                -webkit-transform: none;
                   -moz-transform: none;
                    -ms-transform: none;
                     -o-transform: none;
                        transform: none;
            }

        @media only screen and (min-width: 630px) {
            .nmx-form-group--inline {
                position: relative;
            }

                .nmx-form-group--inline label {
                    display: block;
                    float: left;
                    padding-right: 9px;
                    position: relative;
                    margin-bottom: 0;
                    width: 38%;
                    height: 33px; /* same height as input */
                    line-height: 33px; /* same as input */
                }
        }

        /* cowoa checkbox */
        .nmx-box--cowoa {
            margin-bottom: 30px;
        }

        /* buttons */
        .nmx-buttons {
            margin-top: 21px;            
        }

        .nmx-buttons + .nmx-buttons {
            margin-top: 12px;
        }
            
            .nmx-buttons a,
            .nmx-buttons span,
            .nmx [class*="cssButton"] {
                display: inline-block;
                vertical-align: middle;
            }

            .nmx [class*="cssButton"] {
                border: none;
                background: #333;
                color: #fff;
                cursor: pointer;
                font-family: inherit;
                font-size: 14px;
                height: 33px;
                line-height: 33px;
                margin: 0;
                padding: 0 12px;
                text-decoration: none;
                text-transform: none;
                width: auto !important;
            }
            
            .nmx [class*="cssButton"]:hover {
                opacity: 0.9;
            }
            
            .nmx-buttons a + a,
            .nmx-buttons a + span,
            .nmx-buttons a + [class*="cssButton"],
            .nmx-buttons span + a,
            .nmx-buttons span + span,
            .nmx-buttons span + [class*="cssButton"],
            .nmx-buttons [class*="cssButton"] + a,
            .nmx-buttons [class*="cssButton"] + span,
            .nmx-buttons [class*="cssButton"] + [class*="cssButton"] {
                margin-left: 9px;
            }

                @media only screen and (max-width: 415px) {
                    .nmx-buttons a,
                    .nmx-buttons span,
                    .nmx [class*="cssButton"] {
                        display: inline-block;
                        vertical-align: middle;
                        height: 33px;
                        line-height: 33px;
                        width: 100% !important;
                    }

                    .nmx-buttons span.nmx-button-helper {
                        line-height: 1.3;
                    }

                    .nmx-buttons a + a,
                    .nmx-buttons a + span,
                    .nmx-buttons a + [class*="cssButton"],
                    .nmx-buttons span + a,
                    .nmx-buttons span + span,
                    .nmx-buttons span + [class*="cssButton"],
                    .nmx-buttons [class*="cssButton"] + a,
                    .nmx-buttons [class*="cssButton"] + span,
                    .nmx-buttons [class*="cssButton"] + [class*="cssButton"] {
                        margin-left: 0;
                        margin-top: 9px;
                    }
                }
            
            /* social */
            .nmx-buttons--social {
                border-top: 1px solid rgba(0, 0, 0, 0.3);
                padding-top: 12px;
            }

                .nmx-buttons--social [class*="cssButton"] {
                    display: block;
                    width: 100%;
                }

                .nmx-buttons--social [class*="cssButton"] + [class*="cssButton"] {
                    margin-top: 10px;
                }

                .nmx-buttons--social .cssButton--facebook {
                    background: #49639e;
                }

                .nmx-buttons--social .cssButton--google {
                    background: #db4437;
                }

        /* validation */
        .nmx input.missing,
        .nmx select.missing,
        .nmx textarea.missing,
        .nmx .nmx-form-control.missing {
            border-color: #E00202;
        }

        .nmx .alert,
        .nmx .markProductOutOfStock,
        .nmx .validation,
        .nmx .disablejAlert,
        .nmx .optional {
            color: #E00202;
            display: block;
            font-size: 12px;
            margin: 6px 0 0;
            padding: 0;
        }

        .nmx .markProductOutOfStock {
            display: inline-block;
        }
        
        @media only screen and (min-width: 630px) {
            .nmx-form-group--inline .validation {
                margin-left: 38%;
            }
        }

        .nmx .alert--success {
            color: #58862b;
        }

        .nmx label .alert,
        .nmx label .optional {
            display: inline-block;
            margin: 0 0 0 5px;
        }

        .nmx .optional {
            color: inherit;
            opacity: 0.7;
        }

        .nmx [class*="messageStack"] {
            border-radius: 3px;
            font-size: 12px;
            margin-top: 6px;
            margin-bottom: 15px;
            padding: 8px 15px;
        }

        .nmx-form-group--inline [class*="messageStack"] {
            margin-bottom: 0;
        }
        
        .nmx .messageStackCaution {
            color: #8a6d3b;
            background-color: #fcf8e3;
            border-color: #faebcc;
        }

        .nmx .messageStackError {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }

        .nmx .messageStackSuccess {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }

          .nmx [class*="messageStack"] img {
            display: none !important;
          }
        
    /* ------------------------ */
    /* panel */
    .nmx-panel,
    .oprc-tabs-nav li {
        background: #fff;
        border: 3px solid #E9E9E9;
    }

    .nmx-panel + .nmx-panel {
        margin-top: 20px;
    }

        .nmx-panel-head {
            background: #f5f5f5;
            font-size: 12px;
            font-weight: bold;
            line-height: 100%;
            padding: 12px 18px;
            position: relative;
            text-transform: uppercase;
        }

        @media screen and (min-width: 360px) {
            .nmx-panel-head {
                font-size: 14px;
            }
        }

        @media screen and (min-width: 767px) {
            .nmx-panel-head {
                font-size: 16px;
            }
        }

            .nmx-panel-head a {
                text-decoration: none;
            }

            .nmx-panel-head a.nmx-head-link--small {
                font-size: 14px;
                font-weight: normal;
                text-transform: none;
                position: absolute;
                right: 18px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                   -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                     -o-transform: translateY(-50%);
                        transform: translateY(-50%);
            }

        .nmx-panel-body {
            padding: 24px 18px;
            font-size: 14px;
            line-height: 1.5;
        }

        @media only screen and (max-width: 768px) {
            .nmx-panel-body {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        .nmx-panel-footer {
            background: #f5f5f5;
            padding: 20px 18px;
        }

/* paypal saved cards styles */
.nmx-plugin--oprc {
  margin: 0 auto;
  max-width: 768px;
}

.nmx-clist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nmx-addresses > li {
    padding: 30px 20px;
    position: relative;
}

.nmx-addresses > li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.03);
}

  .nmx-addresses ul {
    overflow: hidden;
  }

    .nmx-address-details {
      margin-top: -5px;
    }

    .nmx-address-details li {
      display: table-row;
    }

    .nmx-address-details li.sb-name {
        display: block;
    }

    .nmx-address-details li + li {
      margin-top: 3px;
    }

    .nmx-addresses strong,
    .nmx-addresses span {
      display: table-cell;
      padding-top: 3px
    }

    .nmx-addresses strong {
      padding-right: 12px;
      text-align: right;
      white-space: nowrap;
      width: 10%;
    }

    .nmx-subscriptions strong,
    .nmx-subscriptions span {
      display: inline-block;
      padding-top: 3px;
      padding-right: 0;
      text-align: left;
      width: auto;
    }

    .nmx-addresses .nmx-buttons {
      margin-top: 0;
      position: absolute;
        top: 50%;
        right: 20px;
      transform: translateY(-50%);
      width: 170px;
    }

        .nmx-buttons--addresses a {
          border: 1px solid rgba(0, 0, 0, 0.2);
          display: block;
          font-size: 12px;
          height: 26px;
          letter-spacing: 0;
          line-height: 26px;
          padding: 0 12px;
          text-transform: uppercase;
          text-align: center;
        }

        .nmx-buttons--addresses a + a {
          margin-left: 0;
          margin-top: 10px;
        }

    @media (max-width: 767px) {
        .nmx-addresses {
            margin-left: auto;
            margin-right: auto;
            max-width: 435px;
        }

            .nmx-addresses .nmx-buttons {
                margin-top: 21px;
                position: static;
                transform: none;
                width: auto;
            }

            .nmx-buttons--addresses a {
                height: 38px;
                line-height: 38px;
            }
    }

    /* payment */
    .creditcard-form {
        padding-top: 12px;
        padding-bottom: 3px;
        white-space: nowrap;
        max-width: 532px;
    }

    .nmx-flags img {
      filter: grayscale(100%);
      transition: filter .5s;
      vertical-align: middle;
      width: auto;
      max-height: 35px;
    }

    .nmx-flags img.nmx-active {
      filter: grayscale(0);
    }

      .creditcard-form label {
          clear: both;
          display: block;
      }

      .creditcard-form label:empty {
          display: none;
      }

      .nmx-cc-expiry select {
        float: left;
      }

      .nmx-cc-expiry select[id*="month"],
      .nmx-cc-expiry select[class*="month"] {
          width: 55% !important;
      }
      
      .nmx-cc-expiry select[id*="year"],
      .nmx-cc-expiry select[class*="year"] {
          float: right;
          width: 40% !important;
      }

      .nmx-cvv {
          display: block;
          overflow: hidden;
          line-height: 1.5;
          width: 90% !important;
      }

        .nmx-cvv input[name*="cvv"] {
            margin-right: 10px;
            width: 59px;
            display: inline-block;
            vertical-align: top;
        }

          .nmx-cvv input[name*="cvv"] + a,
          .nmx-cvv input[name*="cvv"] + .cc-help-cvv {
              display: inline-block;
              font-size: 12px;
              pointer-events: none;
              position: absolute;
              margin-top: 5px;
              text-decoration: none;
          }

          .nmx-cvv img { display: block; }

          @media only screen and (max-width: 450px) {
              .nmx-cvv input[name*="cvv"] + a,
              .nmx-cvv input[name*="cvv"] + .cc-help-cvv {
                  display: block;
                  margin-top: 5px;
              }
          }
          

  /* address entry */
  .nmx-address__entry {
    margin-top: ;
  }

  /* form errors */
  .nmx .form-error {
    color: rgb(185, 74, 72);
    clear: both;
    display: block;
    font-size: 12px;
    padding-top: 3px;
  }

  .nmx .nmx-required {
    color: rgb(185, 74, 72);
    font-size: 12px;
  }

  /* */
  #stBreak {
    position: absolute;
    top: -99999px;
  }

  #stBreak,
  #stateLabel,
  #state {
    display: none;
  }

  #state {
    margin-top: 9px;
  }

  #stBreak.visibleField,
  #state.visibleField {
    display: block;
  }